body {
  background: url('../images/bg-image.png') center center;
  border-top: 6px solid $gray;
  font-family: $font-family--default;

  &::after {
  border-bottom: 6px solid $gray;
  content: '';
  height: 6px;
  position: absolute;
  width: 100%;
  }

  .container {
    position: relative;
    width: 700px;
  }
}
