<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    {% block head %}
      {% block title %}
        <title>Login Screen</title>
      {% endblock %}
    {% endblock %}
  </head>
  <body>
    <header>
      {% block header_before %}{% endblock %}
      {% block header %}{% endblock %}
      {% block header_after %}{% endblock %}
    </header>

    <div class="container login_screen">
      {% block content_before %}{% endblock %}
      {% block content %}{% endblock %}
      {% block content_after %}{% endblock %}
    </div>

    <footer>
      {% block footer_before %}{% endblock %}
      {% block footer %}{% endblock %}
      {% block footer_after %}{% endblock %}
    </footer>
  </body>
</html>
